.container {
  padding: 40px 0;
  max-width: 320px;
  margin: 0 auto;
}

.chart_label {
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-family: 'Circe';
  font-weight: 700;
  font-size: 18px;
  line-height: calc(27 / 18);
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: calc(45 / 30);
  margin-bottom: 8px;
}

.bottom_wrap {
  width: 280px;
}

.chart_wrap {
  position: relative;
  width: 280px;
  height: 280px;
  margin-bottom: 32px;
}

.selects_wrap {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 32px;
}
@media screen and (max-width: 767px) {
  .bottom_wrap {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 20px 0;
    max-width: 768px;
  }
  .bottom_wrap {
    width: 100%;
    display: flex;
    gap: 32px;
  }
  .chart_wrap {
    width: 336px;
    height: 336px;
  }
  .right_wrap {
    width: 336px;
  }
  .selects_wrap {
    margin-top: -45px;
    margin-bottom: 20px;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 32px 0 44px 69px;
    max-width: 800px;
  }
  .bottom_wrap {
    width: 100%;
    display: flex;
    gap: 32px;
  }
  .chart_wrap {
    width: 288px;
    height: 288px;
  }
  .right_wrap {
    width: 395px;
  }
  .selects_wrap {
    margin-top: 0;
    margin-bottom: 20px;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 20px;
  }
}

.noStatistics {
  font-size: 20px;
  text-align: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
