.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.25);
}
.modal {
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 540px;
  height: 70%;

  background-color: var(--main-white-color);
  border-radius: 20px;
  animation: 0.5s show linear;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 480px) {
  .modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    width: 460px;
    height: 90vh;
    border-radius: 20px;
  }
}

.exitQuestion {
  margin-bottom: 60px;
  max-width: 300px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(36 / 24);
  text-align: center;
}

.btnAgree {
  padding: 12px 0;
  background-color: var(--main-white-color);
  width: 300px;
  height: 50px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(27 / 18);
  color: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 20px;
}
.btnDisagree {
  padding: 12px 0;
  background-color: var(--accent-color);
  color: var(--main-white-color);
  width: 300px;
  height: 50px;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(27 / 18);
  border-radius: 20px;
}

.btn {
  position: relative;
  overflow: hidden;
}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: all 1500ms;
}

.btnDisagree:hover {
  box-shadow: 1px 1px 25px 5px rgba(36, 204, 167, 0.4);
}
.btnAgree:hover {
  box-shadow: 1px 1px 25px 5px rgba(74, 86, 226, 0.4);
}

.btn:hover:before {
  left: 100%;
}

.btnDisagree:before {
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
}

.btnAgree:before {
  background: linear-gradient(
    120deg,
    transparent,
    rgba(74, 86, 226, 0.4),
    transparent
  );
}
