.textNoTransactionsWrapper {
    background-image: url(../../images/cat.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
      height: 40vh;
  }
  
  @media screen and (min-width: 1280px) {
    .textNoTransactionsWrapper {
      justify-content: flex-end;
      height: 50vh;
    }
  }
  
  .textNoTransactions {
    text-align: center;
    font-size: 15px;
    font-weight: 700;
  }
  @media screen and (min-width: 768px) {
    .textNoTransactions {
      font-size: 25px;
    }
  }