.dashboard {
  padding: 0 20px;
  background-color: #E7EAF2;
}
@media screen and (min-width: 768px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 69px;
    padding: 0 32px;
    height: 100vh;
    background-image: url(../../images/bg-blur-tab.jpg);
    background-size: cover;
    background-position: center;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .dashboard {
      background-image: url(../../images/bg-blur-tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1280px) {
  .dashboard {
    flex-direction: row;
    padding: 0 18px;
    background-image: url(../../images/bg-blur-desk.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .dashboard {
      background-image: url(../../images/bg-blur-desk@2x.jpg);
    }
  }
}
