.table {
  width: 100%;

  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);
}

.row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 14px 20px;
}
.row::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  border: none;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #dcdcdf;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}

.head {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 30px;
  padding: 16px 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(27 / 18);
}

.summury {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0 20px;
  font-weight: 700;
}

.expenses {
  color: #ff6596;
}

.income {
  color: #24cca7;
}

.color_icon {
  display: block;
  width: 24px;
  height: 24px;
}

.label {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 767px) {
  .row {
    padding-left: 15px;
  }
  .summury {
    padding-left: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .row {
    padding-left: 30px;
    padding-right: 30px;
  }
  .summury {
    padding-left: 30px;
    padding-right: 30px;
  }
  .head {
    padding-left: 30px;
    padding-right: 30px;
  }
}
