.loaderWrap {
  position: relative;
  width: 280px;
  margin: 0 auto;
}
.wrapTable {
  margin: 0 auto;
  background-color: var(--icon-color);
  width: 100%;
  padding-bottom: 52px;
  border-radius: 30px;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, top;
  background-size: contain, 100%;
  background-image: url(/src/images/currency-img-mobile.svg),
    linear-gradient(to bottom, var(--icon-color), var(--icon-color));
}

.tableCurrency {
  width: 100%;
  font-family: 'Circe';
  table-layout: fixed;
  border-collapse: collapse;
  color: var(--main-white-color);
  text-align: center;
}

.tableHead {
  background: #ffffff20;
  border-radius: 30px 30px 0px 0px;
  height: 60px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
}

.tableItem {
  font-size: 16px;
  padding-top: 12px;
  line-height: 1.5;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .loaderWrap {
    width: 336px;
  }
  .wrapTable {
    padding-bottom: 56px;
    background-image: url(/src/images/currency-img-tablet.svg),
      linear-gradient(to bottom, var(--icon-color), var(--icon-color));
  }
  .tableItem {
    padding-top: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .loaderWrap {
    width: 393px;
  }
  .wrapTable {
    padding-bottom: 179px;
    background-image: url(/src/images/currency-img-desktop.svg),
      linear-gradient(to bottom, var(--icon-color), var(--icon-color));
  }
  .tableItem {
    padding-top: 22px;
  }
}
