.balanceContainer {
  padding: 8px 0 12px 32px;

  width: 100%;
  background-color: var(--main-white-color);
  border-radius: 30px;
}
.balanceText {
  margin-bottom: 12px;

  font-family: 'Circe';
  color: var(--main-light-color);
  font-size: 12px;
  line-height: 1.5;
}
.balanceItem {
  font-family: 'Poppins';
  color: var(--main-black-color);
  font-weight: 400;
  font-size: 30px;
}
.balanceValue {
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .balanceContainer {
    width: 336px;

    padding-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .balanceContainer {
    width: 395px;
  }
}
